body, h1,h2,h3,h4,h5,h6 {font-family: 'Khand', sans-serif; margin: 0;}
.w3-row-padding img {margin-bottom: 12px}
/* Set the width of the sidebar to 120px */
.w3-sidebar {width: 160px;background: #222;}
/* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
#main {margin-left: 160px}
/* Remove margins from "page content" on small screens */
@media only screen and (max-width: 600px) {#main {margin-left: 0}}


/* 내가 추가~~~*/

.w3-sidebar {
    margin-top: 250px;
}

.w3-sidebar p {
    font-size: 22px;
    margin: 0;
}

.w3-sidebar i {
    margin-right: 10px;
}

.w3-sidebar hr {
    margin: 0 0 20px 0;
    padding: 0;
}
#main {
    background-image: url('./img/milky-way.jpg');
}

@keyframes cursor {
    50%{border-color: transparent;}
}


#home {
    height: 900px;
    padding-top: 200px;
}

hr {
    color: rgb(255, 255, 255);
    opacity: 0.5;
    margin-bottom: 30px;
}
#home > h1{
    font-family: 'Courgette', cursive;
    font-size: 90px;
    margin-bottom: 100px;
    color: rgb(255, 191, 0);
}

.text {
    display: inline-block;
    right: -10px;
    font-size: 50px;
    font-family: 'Courgette', cursive;
    
    border-right: .1em solid rgb(255, 191, 0);
    padding-right: 7px;
    height: 9%;
    animation: cursor 0.5s ease infinite;
}

nav p{
    font-size:small;
}

h2 {
    color : rgb(216, 175, 94);
}

.description {
    font-size: x-large;
    color:lightgray;
    font-family: 'Patrick Hand', cursive;
}

.center {
    text-align: center;
}

button {
    font-family: 'Ubuntu', sans-serif;
    margin-top: 30px;
}

.collapse img{
    width: 150px;
    height: 150px;
    margin: 30px;
}

.collapse * {
    font-family: 'VT323', monospace;
}

.card{
    background-color: rgba(255, 255, 255, 0.258);
    text-align: center;
}

h4 {
    
    background-color: rgba(148, 147, 147, 0.556);
}

/*Music*/

#music {
    margin-top: 200px;
    margin-bottom: 200px;
}

.pads{
    width: 100%;
    display: flex;
}
.pads > div{
    height: 100px;
    width: 100px;
    flex: 1;
    cursor: pointer;
}
.pads > div:hover {
    opacity: 0.8;
}
.pad1 {
    background: rgb(237, 158, 158);
}
.pad2 {
    background: rgb(115, 101, 121);
}
.pad3 {
    background: rgb(149, 193, 212);
}
.pad4 {
    background: rgb(173, 186, 104);
}

.hero {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.hero .carousel {
    width: 300px;
    margin: 100px auto 0;
    overflow: visible;
}

.carousel img {
    -webkit-box-reflect: below 20px linear-gradient(rgba(255,255,255,0.1), rgba(255,255,255,0.3));
}

/*Contact*/
#contact p {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
}

/*footer*/
footer p{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: medium;
}
